
.vc {
    filter:blur(9px);
}

.background-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

.background-image-page {
    left: 30%;
    opacity: 0.8;
}

.section-video{
    height: 100%;
    width: 100%;
    position: relative;
}

.section-carousel{
    height:110vh;
    width:100%;
    background-color:black;
}


.btn-outline-success {
         --bs-btn-color: orange;
         --bs-btn-border-color: orange;
         --bs-btn-hover-color: #582900;
         --bs-btn-hover-bg: orange;
         --bs-btn-hover-border-color: orange;
         --bs-btn-focus-shadow-rgb: 25,135,84;
         --bs-btn-active-color: black;
         --bs-btn-active-bg: orange;
         --bs-btn-active-border-color: orange;
         --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
         --bs-btn-disabled-color:orange;
         --bs-btn-disabled-bg: transparent;
         --bs-btn-disabled-border-color: orange;
         --bs-gradient: none;
    }

.section{
    height:100vh;
    width:100%;
}

.container-video{
    position: relative;
    top: 20%;
    width:80%;
}

@media (min-width: 768px) {
    .container-video {
        max-width: 800px;
        max-height:500px
    }
}



#carouselExampleFade{
    background-color:black;
    border-radius:50%;

}

.container-carousel{
    margin-left:1em;
    border-style: solid;
    border-color:transparent;
    border-radius: 50%;
    border-width:0.5em;
    animation:rot 1s linear infinite;
    padding:1px;

}

.container-carousel > div {
  background:black;
  border-style: solid;
  border-color:transparent;
   border-radius: 50%;
  border-width:1px;

}


@media screen and (max-width: 768px) {
    .background-container {
      display: none;
    }
  }



/*@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: #fefefe;
          }
    a {
        color: #5fa9ee;
      }
    img {
        filter: grayscale(20%);
        }
 }*/



.img-carousel{
    background-color:black;
    border-radius: 50%;
}

.container-carousel{
    background-color:black;
    border-radius: 50%;
    border:solid;
    padding:4em;
}

.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.00001);
  color: #f1f1f1;
  width: 100%;
  margin-left:3em;
  margin-bottom:3em;
  }

.test{
    outline: 0.4px solid #1c87c9;
    outline-offset: 1px;

}

.first-container-review{
    background-repeat:no-repeat;
}



