
.card-img-top {
   height: 21em;
   width : 100%;
   object-fit:cover;

}

.index-jeu {
    margin-top: 40px;
    padding;20px;

}

.card1 {
        /*padding: 10px;*/

        transform: scale(1);
        transition: all 1s ease;
        filter: grayscale(60%);
        cursor: pointer;
}

.card1:hover{
    transform: scale(1.05);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    border-radius: 45px;
     background: #d9a081;
     box-shadow:  7px 7px 23px #a1765f,
                  -7px -7px 23px #ffcaa3;
    filter: grayscale(0%);
}

a:link {
  color:grey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: velvet;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: orange;
  background-color: transparent;

}

.b {
     white-space: nowrap;
      width: 12rem;
      overflow: hidden;
      text-overflow: ellipsis;


